{% block all -%}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Inventory management demo{% endblock %}</title>
        <link href="{{ asset('img/favicon.png') }}" rel="icon">
        <link href="{{ asset('img/apple-touch-icon.png') }}" rel="apple-touch-icon">
        <meta name="turbo-prefetch" content="false">
        <meta name="turbo-cache-control" content="no-cache">
        {% block head %}{% endblock %}

        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        {% block stylesheets %}{% endblock %}

        <script src="{{ asset('js/main.js') }}"></script>

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <body>
    {% block body %}
        <!-- ======= Header ======= -->
        <header id="header" class="header fixed-top d-flex align-items-center">
            {% block header %}
                <turbo-frame id="mercure" src="{{ path('app_mercure_listener') }}"></turbo-frame>

                <div class="d-flex align-items-center justify-content-between">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <img src="{{ asset('img/logo.png') }}" alt="">
                        <span class="d-none d-lg-block">{% block company_name %}{{ app.user.company }}{% endblock %}</span>
                    </a>
                    <i class="bi bi-list toggle-sidebar-btn"></i>
                </div><!-- End Logo -->

                <div class="search-bar">
                    <form class="search-form d-flex align-items-center" method="POST" action="#">
                        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                    </form>
                </div><!-- End Search Bar -->

                <a href="{{ path('zoho_connect') }}" class="btn btn-warning" data-turbo-frame="main" data-turbo-action="advance">
                    Zoho
                </a>
                <turbo-frame id="header-turbo" class="header-nav ms-auto" src="{{ path('app_header') }}">
                <span class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </span>
                </turbo-frame><!-- End Icons Navigation -->
            {% endblock %}
        </header><!-- End Header -->

        {% block sidebar %}
            <turbo-frame id="sidebar" class="sidebar" src="{{ path('app_left_sidebar') }}" data-turbo-prefetch="false">
                Waiting...
            </turbo-frame>
        {% endblock sidebar %}

        {% block main -%}
            <turbo-frame id="main" class="main" data-turbo-frame="main" data-turbo-action="advance" data-turbo-prefetch="false">
            </turbo-frame>
        {%- endblock main %}
        <!-- End #main -->

        <!-- ======= Footer ======= -->
        <footer id="footer" class="footer">
            <div class="copyright">
                &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </footer><!-- End Footer -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    {% endblock body %}
    </body>
    </html>
{%- endblock all %}
