{% extends 'app/products/list.html.twig' %}

{% block inner -%}
    <turbo-frame id="inner" class="col" data-turbo-action="advance">
        {{ form_errors(form) }}
        {{ form_start(form, {attr: {'autocomplete': 'off'}}) }}
        <div class="row">
            <div class="col-6">
                {% embed 'app/embedded/card.html.twig' %}
                    {% block header %}Details{% endblock %}

                    {% block body %}
                        <div class="row">
                            <div class="col-6 pt-3">
                                {{ form_row(form.name) }}
                            </div>
                            <div class="col-6 pt-2">
                                {{ form_row(form.price) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                {{ form_row(form.description) }}
                            </div>
                        </div>
                    {% endblock %}

                    {% block footer %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a class="btn btn-secondary" href="{{ path('app_products_list', {_filters: true}) }}">Back</a>
                    {% endblock %}
                {% endembed %}
            </div>

            <div class="col-6">
                {% embed 'app/embedded/card.html.twig' %}
                    {% block header %}Stock{% endblock %}
                    {% block body %}
                        <div class="col-12 pt-3">
                            {{ form_row(form.inventory) }}
                        </div>
                    {% endblock %}
                {% endembed %}
            </div>
            {{ form_rest(form) }}
        </div>
        {{ form_end(form) }}
    </turbo-frame>
{%- endblock inner %}
