{% extends '_app_base.html.twig' %}

{% block main -%}
    <turbo-frame id="main" class="main" data-turbo-frame="main" data-turbo-action="advance" data-turbo-prefetch="false">
        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ path('app_entry') }}">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{{ path('app_products_list') }}">Products</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="bi bi-plus-circle" href="{{ path('app_products_create', {_filters: true}) }}" data-turbo-frame="inner"></a>
                    </li>
                </ol>
            </nav>
        </div>

        <div class="row" data-turbo-action="advance">
            <div class="col-2">
                {{ render(path('app_products_filters')) }}
            </div>

            {% block inner %}
                <turbo-frame id="inner" class="col" data-turbo-action="advance">
                    <div class="row">
                        <div class="col">
                            {% embed 'app/embedded/table_card.html.twig' with {caption: 'Products', columns: ['Name', 'Price']} %}
                                {% block tbody %}
                                    {% for product in pager %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('app_products_update', {'id': product.id, '_filters': true}) }}" data-turbo-action="advance">
                                                    {{ product.name }}
                                                </a>
                                            </td>
                                            <td>
                                                {{ product.price|money_localized_format }}
                                            </td>
                                            <td class="text-end">
                                                <a href="{{ path('app_products_transport', {'id': product.id, '_filters': true}) }}" data-turbo-frame="details" data-turbo-action="advance">Transport</a>|
                                                <a href="{{ path('app_products_sales', {'id': product.id, '_filters': true}) }}" data-turbo-frame="details" data-turbo-action="advance">Sales</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endblock %}

                            {% endembed %}
                        </div>

                        {% block details -%}
                            <turbo-frame class="col-4 hide-empty" id="details"></turbo-frame>
                        {%- endblock details %}

                    </div>

                </turbo-frame>

            {% endblock inner %}
        </div>
    </turbo-frame>
{%- endblock main %}

{% block filters %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Filters</h5>
            {{ form_start(form) }}
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary">Filter</button>
            <a class="btn btn-secondary" href="{{ path('app_products_list') }}">Reset</a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock filters %}
