{% block tbbc_money_widget %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            {{ form_widget(form.tbbc_currency.tbbc_name) }}
        </div>
        {{ form_widget(form.tbbc_amount, {label: false, type: 'text'}) }}
    </div>
    {{ form_rest(form) }}
{% endblock %}

{% block quill_text_area_widget %}
    <div {{ stimulus_controller('forms/quill', {target: form.vars.id}) }}>
        <span class="spinner-border spinner-border-sm" role="status" {{ stimulus_target('forms/quill', 'spinner') }}>
            <span class="visually-hidden">Loading...</span>
        </span>
        <div id="{{ 'quill-' ~ form.vars.id }}" style="height: 200px">
            {{ form.vars.value|raw }}
        </div>
        {{ form_widget(form, {attr: {'style': 'display: none'}}) }}
    </div>
{% endblock %}
