{% extends '_app_base.html.twig' %}

{% block main -%}
    {# @var company \App\Entity\Company\Company #}
    <turbo-frame id="main" class="main" data-turbo-frame="main" data-turbo-prefetch="false" data-turbo-action="visit">
        <div id="app-{{ company.id }}" data-reload-src="{{ path('zoho_refresh') }}">

            {# Avoid complex if-else statements by making smaller blocks, until Twig gets `match` equivalent #}
            {{ is_connected ? block('_connected') : block('_not_connected') }}

        </div>
    </turbo-frame>
{% endblock %}

{% block _not_connected %}
    <a href="{{ connect_url|raw }}" target="_blank">Connect</a>
{% endblock _not_connected %}

{% block _connected -%}
    {# @var company \App\Entity\Company\Company #}

    {% if company.zohoDownloading %}
        <span class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
        </span>
        Downloading data from Zoho
    {% else %}
        <a href="{{ path('zoho_download_all') }}" class="btn btn-danger" data-turbo-frame="main" data-turbo-action="visit" data-turbo-method="put" xdata-turbo-confirm="Are you sure?">Download all</a>
    {% endif %}
{%- endblock _connected %}
